{% extends 'core/base.html' %}

{% block title %} | frontpage{% endblock %}

{% block content %}
<section class="hero ">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        {% for post in post%}
                        <div class="content is-medium">
                            <h1 class="title">{{post.title}}</h1>
                            <h2 class="subtitle is-4">{{post.intro}}</h2>
                            <p>{{post.body}}</p>
                            <small><i>{{post.created_at}}</i></small>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section> 
      
{% endblock %}